
body {
    background-color: red;
}
h1{
color:blueviolet
}
h3{
color:blueviolet
}
hr {
border-style: none;
border-top-style: dotted;
border-color: black;
border-width: 10px;
width: 5%;

}
